{% set base_title = 'Part of The Family' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    {% if title %}
        <title>{{ title }} - {{ base_title }}</title>
    {% else %}
        <title>{{ base_title }}</title>
    {% endif %}

    <!-- Bootstrap core CSS -->
    <link href="{{ 'css/bootstrap.min.css'|static }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ 'css/styles.css'|static }}" rel="stylesheet">

</head>
<body>
    <!-- jQuery JS -->
    <script src="{{ 'js/jquery.min.js'|static }}"></script>

    <div class='content'>
        {% if error %} <div class="alert alert-danger"> {{ error }} </div> {% endif %}
        {% if warn %} <div class="alert alert-warning"> {{ warn }} </div> {% endif %}
        {% if info %} <div class="alert alert-info"> {{ info }} </div> {% endif %}
        {% if success %} <div class="alert alert-success"> {{ success }} </div> {% endif %}

        {% block content %}{% endblock %}
    </div>
</body>
</html>
