{% extends 'base.jinja' %}

{% block content %}
    <h2><a href="{{ 'diary-day'|url(year=prev_day.year, month=prev_day.month, day=prev_day.day) }}" class="diary-nav-prev">◀</a>
        {{ title }}
        {% if next_day %}
            <a href="{{ 'diary-day'|url(year=next_day.year, month=next_day.month, day=next_day.day) }}" class="diary-nav diary-nav-next">▶</a>
        {% endif %}
    </h2>
    <form class="form-diary-entry" method="POST" enctype="application/x-www-form-urlencoded"
          accept-charset="utf-8">
        <textarea id="moments" name="moments" class="form-control" rows=10 placeholder="Moments"required autofocus>{{ moments }}</textarea>
        <div class="row">
            <div class="col-xs-6 text-left">
                <a href="{{ 'diary'|url }}" class="btn btn-lg btn-default btn-block form-action">Back</a>
            </div>
            <div class="col-xs-6 text-right">
                <button class="btn btn-lg btn-primary btn-block form-action" type="submit">Save</button>
            </div>
        </div>
    </form>
    <script>
        moments = $('#moments');
        moments.height(moments.prop('scrollHeight'));
    </script>
{% endblock %}
