{% extends 'base.jinja' %}

{% block content %}
    <table class='menu'>
        <tr>
            <td class='menu-left'>
                <a href="{{ 'diary'|url }}"><span class="glyphicon glyphicon-th"></span></a>
            </td>
            <td class='menu-center'>
                <h1>{{ title }}</h1>
            </td>
            <td class='menu-right'>
                <a href="{{ 'diary-new'|url }}"><span class="glyphicon glyphicon-plus"></span></a>
            </td>
        </tr>
    </table>

    {% if highlights %}
    <table class="table table-striped diary-highlights">
        <thead>
            <tr>
                <th>Month</th>
                <th>Moments</th>
            </tr>
        </thead>
        <tbody>
            {% for m in highlights.keys()|sort %}
            <tr id=1>
                {% for month, count in highlights[m].items() %}
                    <td month={{ m }}>{{ month|safe }}</td>
                    <td>{{ count|safe }} moment(s)</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <br/>
    Time doesn't wait for anyone, so make the most of it by creating new moments.
    {% endif %}

    <script>
        $('.table > tbody > tr').click(function() {

            tr = $( this )[0]
            month = tr.children[0].getAttribute('month')
            if (month) {
                window.location.replace("{{ 'diary-year'|url(year=date.year) }}/" + month)
            }
        });
    </script>
{% endblock %}
