{% extends 'base.jinja' %}

{% block content %}
    <table class='menu'>
        <tr>
            <td class='menu-left'>
                <a href="{{ 'diary-month'|url(year=day.year, month=day.month) }}"><span class="glyphicon glyphicon-th"></span></a>
            </td>
            <td class='menu-center'>
                <h1><a href="{{ 'diary-day'|url(year=prev_day.year, month=prev_day.month, day=prev_day.day) }}" class="diary-nav diary-nav-prev">◀</a>
                    {{- title -}}
                    {% if next_day %}
                        <a href="{{ 'diary-day'|url(year=next_day.year, month=next_day.month, day=next_day.day) }}" class="diary-nav diary-nav-next">▶</a>
                    {% endif %}
                </h1>
            </td>
        </tr>
    </table>
    <h4>Dear Family,</h4>
    <form class="form-diary-entry" method="POST" enctype="application/x-www-form-urlencoded"
          accept-charset="utf-8">
        <textarea id="moments" name="moments" class="form-control" rows=10 placeholder="Moments"required autofocus>{{ moments }}</textarea>
        <button class="btn btn-lg btn-primary btn-block form-action" type="submit">Save</button>
    </form>
    <script>
        moments = $('#moments');
        moments.height(moments.prop('scrollHeight'));
    </script>
{% endblock %}
