{% extends 'base.jinja' %}

{% block content %}
    <a class='btn btn-primary btn-lg btn-block' href="{{ 'diary-new'|url }}">New Moments</a><br/>

    {% if highlights %}
    <table class="table table-striped diary-highlights">
        <thead>
            <tr>
                <th>Day</th>
                <th>Moments</th>
            </tr>
        </thead>
        <tbody>
            {% for day, moments in highlights %}
            <tr id=1>
                <td>{{ day|safe }}</td>
                <td>{{ moments }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <br/>
    Time doesn't wait for anyone, so make the most of it by creating new moments.
    {% endif %}

    <script>
        $('.table > tbody > tr').click(function() {

            tr = $( this )[0]
            day = tr.children[0].textContent
            if (day) {
                window.location.replace("{{ 'diary-month'|url(year=date.year, month=date.month) }}/" + day)
            }
        });
    </script>
{% endblock %}
