{% extends 'base.jinja' %}

{% block content %}
    <table class='menu'>
        <tr>
            <td class='menu-left'>
                <a href="{{ 'diary'|url }}"><span class="glyphicon glyphicon-th"></span></a>
            </td>
            <td class='menu-center'>
                <h1>{{ title }}</h1>
            </td>
            <td class='menu-right'>
                <a href="{{ 'diary-new'|url }}"><span class="glyphicon glyphicon-plus"></span></a>
            </td>
        </tr>
    </table>

    {% if highlights %}
    <table class="table table-striped diary-highlights">
        <thead>
            <tr>
                <th>Year</th>
                <th>Moments</th>
            </tr>
        </thead>
        <tbody>
            {% for year in highlights.keys()|sort %}
            <tr id=1>
                    <td year={{ year|safe }}>{{ year|safe }}</td>
                    <td>{{ highlights[year]|safe }} moment(s)</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <br/>
    Time doesn't wait for anyone, so make the most of it by creating new moments.
    {% endif %}

    <script>
        $('.table > tbody > tr').click(function() {

            tr = $( this )[0]
            year = tr.children[0].getAttribute('year')
            if (year) {
                window.location.replace("{{ 'diary'|url }}/" + year)
            }
        });
    </script>
{% endblock %}
