{% extends 'base.jinja' %}

{% block content %}
    <p>{{ intro|safe }}</p>

    <b>
        {% if user %}
            <a href="{{ 'diary-new'|url }}">New Entry</a><br/>
            <a href="{{ 'logout'|url }}">Logout</a><br/>
        {% else %}
            <a href="{{ 'join'|url }}">Join</a><br/>
            <a href="{{ 'login'|url }}">Login</a><br/>
        {% endif %}
    </b>

{% endblock %}
